@import "tailwindcss";

@theme {
  --color-primary: #7c9e39;
  --color-primaryHover: #5a722a;
  --color-light: var(--color-lime-50);

  --color-textPrimary: var(--color-zinc-800);
  --color-textSecondary: var(--color-zinc-500);
  --color-textLight: var(--color-zinc-50);

  --color-overlay: var(--color-black);

  --color-borderGray: var(--color-slate-200);

  --spacing-wrapper: 1500px;
}

.buttonSmall {
  @apply bg-primary px-3 py-2 text-lg font-semibold rounded-md text-textLight cursor-pointer hover:bg-primaryHover transition-all ease-in-out;
}
.buttonMid {
  @apply bg-primary px-5 py-3 text-xl font-semibold rounded-md text-textLight cursor-pointer hover:bg-primaryHover transition-all ease-in-out;
}
.buttonBig {
  @apply bg-primary px-3 py-2 text-lg font-semibold rounded-md text-textLight cursor-pointer hover:bg-primaryHover transition-all ease-in-out;
}

h1 {
  @apply text-7xl font-serif;
}

h2 {
  @apply text-6xl font-serif;
}

h3 {
  @apply text-5xl font-serif;
}

h4 {
  @apply text-4xl font-serif;
}

h5 {
  @apply text-2xl font-serif;
}
