@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "tailwindcss";
@import "react-date-range/dist/styles.css";
@import "react-date-range/dist/theme/default.css";

@plugin 'tailwind-scrollbar';

@theme {
  --font-oswald: "Oswald";
  --font-bebas: "Bebas Neue";
  --color-primary: #7c9e39;
  --color-primaryHover: #5a722a;
  --color-secondary: var(--color-zinc-900);
  --color-tertiary: #567121;
  --color-light: var(--color-green-50);

  --color-textPrimary: var(--color-zinc-800);
  --color-textSecondary: var(--color-zinc-600);
  --color-textLight: var(--color-zinc-50);

  --color-overlay: var(--color-zinc-950);

  --color-borderGray: var(--color-slate-200);

  --spacing-wrapper: 1400px;
}

.buttonSmall {
  @apply bg-primary px-3 py-2 md:text-lg text-base text-center font-semibold rounded-md text-textLight cursor-pointer hover:bg-primaryHover transition-all ease-in-out flex items-center justify-center;
}
.buttonMid {
  @apply bg-primary px-5 py-3 md:text-lg text-base font-semibold rounded-md text-textLight cursor-pointer hover:bg-primaryHover transition-all ease-in-out;
}
.buttonBig {
  @apply bg-primary px-3 py-2 text-lg font-semibold rounded-md text-textLight cursor-pointer hover:bg-primaryHover transition-all ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bebas;
}

h1 {
  @apply md:text-7xl text-5xl;
}

h2 {
  @apply md:text-6xl text-4xl;
}

h3 {
  @apply md:text-5xl text-3xl;
}

h4 {
  @apply md:text-4xl text-3xl;
}

h5 {
  @apply text-2xl;
}

h6 {
  @apply text-xl;
}

label {
  @apply font-stretch-extra-condensed;
}
